.user-section {
    /* padding: 1rem; */
    background-color: #131312; /* Background color */
    color: white; /* Text color */
}

.user-table {
    width: 100%;
    border-collapse: collapse; /* Combine borders */
    margin-top: 1rem;
}

.table-heading {
    background-color: #cf1111; /* Header background color */
}

.table-heading th {
    padding: 1rem;
    text-align: left; /* Align text to the left */
}

.user-row {
    background-color: #ffffff; 
    color: black;/* Row background color */
    cursor: pointer; /* Change cursor on hover */
}

.user-row:hover {
    background-color: #f5f4f4; /* Change color on hover */
}

.user-row td {
    padding: 1rem;
    /* border-bottom: 1px solid #131312; Border between rows */
}
