.chart-main-div {
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
    gap: 3rem;
}

.total-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 8rem;
    background-color: #cf1111;
    color: white;
    margin-bottom: 2rem;
}

.pie-chart {
    width: 50%;
    margin: 0 auto;
}
.char-bars{
    display: flex;
    flex-direction:column ;
    /* background-color: red; */
    align-items: center;
    margin-bottom: 8rem;

}